<div>
  <div class="row">
    <div class="col-md-9">
        <h1>Lista de alunos</h1>
    </div>
    <div class="col-md-3 text-right">
      <a [routerLink]="['novo']" class="btn btn-success"><i class="fa fa-plus"></i></a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Ações</th>
        <th>Código</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Pai</th>
        <th>Mãe</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aluno of alunos">
        <td><a [routerLink]="[aluno.id]"><i class="fa fa-edit"></i></a></td>
        <td>{{aluno.id}}</td>
        <td>{{aluno.nome}}</td>
        <td>{{aluno.cpf}}</td>
        <td>{{aluno.telefone}}</td>
        <td>{{aluno.pai}}</td>
        <td>{{aluno.mae}}</td>
      </tr>
    </tbody>
  </table>
</div>